<template>
    <div>
        <div class="collection-wrapper">
            <div class="container">
                <div class="collection-container">
                    <aside>
                        <div class="aside-user">
                            <div class="user-avatar__block">
                                <img :src="user.full_uri_avatar" alt="user-avatar" />
                            </div>
                            <div class="user-data__block">
                                <div class="user-edit__container">
                                    <div class="user-info">
                                        <p class="user-name">{{ user.name }}</p>
                                    </div>
                                    <div class="user-edit__btn-block">
                                        <router-link to="/edit-profile" class="edit-btn">Edit profile</router-link>
                                        <template v-if="user.role.name != 'user'">
                                            <a class="edit-btn" data-bs-toggle="modal" data-bs-target="#create-nft">Create NFT</a>
                                        </template>
                                    </div>
                                    <div class="user-share__block">
                                        <a :href="user.twitter_url" target="_blank"> <i class="icon-twitter"></i></a>
                                        <a :href="user.instagram_url" target="_blank"> <i class="icon-instagram"></i></a>
                                        <a :href="user.facebook_url" target="_blank"><i class="icon-facebook-circled"></i></a>
                                        <a :href="user.facebook_url" target="_blank"><i class="icon-share"></i></a>
                                    </div>
                                </div>
                                <p class="member-date">
                                    Member since
                                    <span>{{ user.created_at | formatDate }}</span>
                                </p>
                            </div>
                        </div>
                    </aside>

                    <main class="main-profile">
                        <div class="sort-container__profile">
                            <div class="main-sort__block">
                                <div class="type-packs__block">
                                    <button @click="whetherOnSale = false; inDrop = false;" class="btn type-change" v-bind:class="{active: !whetherOnSale}">Collectibles</button>
                                    <button @click="whetherOnSale = true; modSale = false; inDrop = false;" class="btn type-change" v-bind:class="{active: whetherOnSale && !inDrop}">For sale</button>
                                </div>
                            </div>
                        </div>
                        <div class="music-card__container" v-if="nfts.length">
                            <ul class="music-card__list" v-bind:class="{'active-mod-sale': modSale}">
                                <li class="music-card__item for-sale" v-for="(item, i) in nfts" :key="i" v-if="item.metadata != null && ((!whetherOnSale && !item.price) || (whetherOnSale && !inDrop && item.price) || (inDrop))">
                                    <div class="music-desc__block">
                                        <router-link :to="'/nft/' + item.id">
                                            <span class="for-sale__mark" v-if="item.price">For sale</span>
                                            <div class="music-img" style="text-align:center">
                                                <img :src="item.metadata.cover_image" width="197" onerror="this.hidden=true"/>
                                            </div>
                                            <div class="music-title">
                                                <p class="item-music__title">{{item.metadata.name}}</p>
                                            </div>
                                            <p class="item-music__tariff-plan" v-if="item.type">
                                                {{ item.type.attribute_value }}
                                              <span v-if="item.numbering">#1 / {{item.numbering.attribute_value}}</span>
                                              <span class="plan-icon">{{ item.type.attribute_value.charAt(0) }}</span>
                                            </p>
                                            <template v-if="item.price">
                                                <p class="sale-status">Price</p>
                                                <p class="item-music__price" v-if="settings.currency_rate_dkk">{{ Number(parseFloat(item.price * settings.currency_rate_dkk)).toFixed(2) }}kr.</p>
                                            </template>
                                        </router-link>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div v-else>
                            <div v-if="nfts.length || loader" class="flex-center">
                                <img src="assets/img/loader.gif" width="100px" />
                            </div>
                            <div v-else>
                                <div class="empty-collection">
                                    <p>No cards to show yet - But you're nearly there!</p>
                                    <p class="mb">Buy a pack or grab a card at the marketplace</p>
                                    <router-link to="/marketplace">Marketplace</router-link>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
            <div class="section-border"></div>
        </div>

        <create-nft @setNfts="setNfts" />

    </div>
</template>

<script>
import moment from "moment";
import Editor from '@tinymce/tinymce-vue';
import CreateNft from './components/modals/CreateNft';

export default {
    name: 'my-collection',
    components: {Editor, CreateNft},
    data() {
        return {
            nfts: [],

            whetherOnSale: false,
            modSale: false,
            inDrop: false,
            loader: true,
            tinymce:  {
                plugins: [
                    "code fullscreen",
                ],
                relative_urls: false,
                min_height: 350,
                convert_urls: false,
            },
            settings: {}
        }
    },
    created() {
        this.getAllSettings()
        this.$store.dispatch('users/getCurrentUser')
            .then((user) => {
                  this.allNfts()
            })
    },
    filters: {
        formatDate(date) {
            return moment(date).format('MMM DD, YYYY')
        },
        formatPrice(price) {
            if(price && '00' == price.split(".")[1]) return price.split(".")[0]
            return price
        }
    },
    computed: {
        user() {
            return this.$store.getters['users/getCurrentUser']
        }
    },
    methods: {
        changeModSale() { this.modSale = !this.modSale },
        getAllSettings() {
            this.$store.dispatch('settings/allSettings')
                .then(settings => {
                    this.settings = settings
                })
        },
        setNfts(nfts) {
            this.nfts = nfts
        },
        allNfts() {
            this.loader = true
            this.nfts = []
            this.$store.dispatch('nfts/allNfts')
                .then(nfts => {
                    this.nfts = nfts
                    this.loader = false
                }).catch(error => {
                    console.log("NO NFT")
                    console.log(error)
                    this.loader = false
                })
        }
    }
}
</script>
<style scoped>

hr {
    margin-top: 2rem
}
.music-card__list {
    transition: all 1s;
}
.user-edit__btn-block a.active {
    background-color: #198754
}
.active-mod-sale {
    border: 1px solid #3fbc6c;
    padding: .5rem;
    border-radius: 1rem;
}
.empty-collection {
    color: #fff;
    font-family: Shapiro\ 55 Middle;
    font-size: .875rem;
    margin-bottom: 400px;
    margin-top: 65px;
    text-align: center;
}
.empty-collection .mb {
    margin-bottom: 30px;
}
.empty-collection a {
    background-color: #1c70de;
    border-radius: 20px;
    color: #fff;
    font-family: Shapiro\ 75 Heavy;
    font-size: .875rem;
    padding: 7px 24px 10px;
    transition: all .3s;
}
</style>
