<template>
  <div class="collection-wrapper">
    <div class="container">
      <div class="collection-container">
        <aside>
          <div class="aside-user">
            <div class="user-avatar__block">
              <img :src="user.full_uri_avatar" alt="user-avatar" />
            </div>
            <div class="user-data__block">
              <div class="user-edit__container">
                <div class="user-info">
                  <p class="user-name">{{ user.name }}</p>
                </div>
                <div class="user-edit__btn-block">
                  <router-link to="/edit-profile" class="edit-btn">Edit profile</router-link>
                  <template v-if="user.role.name != 'user'">
                    <a class="edit-btn" data-bs-toggle="modal" data-bs-target="#create-nft">Create NFT</a>
                  </template>
                </div>
                <div class="user-share__block">
                  <a :href="user.twitter_url" target="_blank"> <i class="icon-twitter"></i></a>
                  <a :href="user.instagram_url" target="_blank"> <i class="icon-instagram"></i></a>
                  <a :href="user.facebook_url" target="_blank"><i class="icon-facebook-circled"></i></a>
                  <a :href="user.facebook_url" target="_blank"><i class="icon-share"></i></a>
                </div>
              </div>
              <p class="member-date">
                Member since
                <span>{{ user.created_at | formatDate }}</span>
              </p>
            </div>
          </div>
        </aside>
        <main class="main-profile">
          <div class="music-card__container">
            <div class="empty-collection">

            </div>
          </div>
        </main>

      </div>
    </div>
    <div class="section-border"></div>

    <create-nft />
  </div>
</template>

<script>
import moment from "moment";
import CreateNft from "./components/modals/CreateNft";

export default {
  name: 'Profile',
  components: {CreateNft},
  data() {
    return {}
  },
  created() {
    this.getProfileData()
  },
  filters: {
    formatDate(date) {
      return moment(date).format('MMM DD, YYYY')
    },
  },
  computed: {
    user() {
      return this.$store.getters['users/getCurrentUser']
    }
  },
  methods: {
    getProfileData() {
      return this.$store.dispatch('users/getCurrentUser')
    }
  }
}
</script>

<style>
.label-photo {
  border: 2px solid #8b23e7;
  color: white;
  background-color: #8b23e7;
  padding: 0px 10px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}
</style>
